* {
Margin: 0;
Padding: 0;
Border: 0;

}

html {
height: 100%;


}

/* Grid Styling */
.container {
display: grid;
height: 100%;
color: #EFF2EE;
font-family: 'Times New Roman', Times, serif;
grid-template-columns: 33.33% 33.33% 33.33%;
grid-template-rows: 50% 50%;
grid-template-areas:
    "main main main"
    "titleone titletwo titlethree";

}

main {
background: #2BCEC0;
grid-area: main;



}

#titleone {
background: #1B1B1B;
grid-area: titleone;

}

#titletwo {
background: #1B1B1B;
grid-area: titletwo;

}

#titlethree {
background: #1B1B1B;
grid-area: titlethree;


}

/* Header Styling */
.flexparent {
display: flex;
flex-flow: column wrap;
justify-content: space-evenly;

}

.flexchild {
align-self: center;

}