* {
    Margin: 0;
    Padding: 0;
    Border: 0;

}

html {
    height: 100%;



}

/* Header Styling */
.flexparent {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-size: 400%;


}

.flexchild {
    align-self: center;



}

/* Grid Styling */
.container {
    display: grid;
    height: 100%;
    color: #EFF2EE;
    font-family: 'Times New Roman', Times, serif;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "main main main"
        "titleone titletwo titlethree";

}

main {
    background: #2BCEC0;
    grid-area: main;



}

.titles {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: center;
    background: #1B1B1B;
    font-size: 290%;
    overflow-wrap: break-word;
    text-align: center;


}

.spans {
    font-size: 70%;



}


#titleone {
    grid-area: titleone;


}

p.title1 {

    border-top: solid #34A8DD 30px;
    margin: 20%;


}

#titletwo {

    grid-area: titletwo;

}

p.title2 {
    border-top: solid #F46830 30px;
    margin: 20%;

}

#titlethree {

    grid-area: titlethree;

}

p.title3 {
    border-top: solid #2BCEC0 30px;
    margin: 20%;

}

@media only screen and (max-width: 576px) {

    .container {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
            "main"
            "titleone"
            "titletwo"
            "titlethree";
    }

    html {
        height: 200%;

    }

    main {
        background: #34A8DD;
        padding: 10%;

    }

    .titles {
        font-size: 290%;
        display: flex;
        flex-flow: column wrap;
        align-items: stretch;
        align-content: center;
        overflow-wrap: break-word;
        text-align: center;
        background: #F7F5F6;
        color: #181717;

    }

    span {
        font-size: 100%;
    }





}